<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title>bayes新能源汽车售后服务中心</title>
  <link rel="stylesheet" href="../static/homepage_1.css"/>
  <link rel="stylesheet" href="../static/homepage_2.css"/>
  <link rel="stylesheet" href="../static/homepage_3.css"/>
  <link rel="stylesheet" href="../static/homepage_4.css"/>
  <style>
    * {
  box-sizing: border-box;
      }
    body {
    margin: 0;
      }
    #home{
    background-image:url(../static/背景.jpg);
      }
  </style>
</head>

<body>

  <div>

    <section role="navigation" class="navbar custom-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
            <span class="icon icon-bar"></span><span class="icon icon-bar"></span><span class="icon icon-bar"></span></button>
          <a href="https://buaa.edu.cn/" class="navbar-brand">Bayes</a>
        </div>
        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-nav-first">
            <li>
              <a href="#blog" class="smoothScroll">介绍</a>
            </li>
            <li>
              <a href="#work" class="smoothScroll">功能</a>
            </li>
            <li>
              <a href="http：员工登录" target="_blank" class="smoothScroll">员工登录</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"></a>
            </li>
            </li>
            <li class="section-btn">
              <a href="http：用户登录" data-toggle="modal" data-target="#modal-form">登录 &amp; 注册</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="home" data-stellar-background-ratio="0.5">
      <video id="video" style="width:100%; height:100%; object-fit:cover; position:absolute; top:0; left:0; " autoplay loop muted>
                    <source src="../static/你的门子.mp4" type="video/mp4">
                  </video>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="home-info">
              <h1>Bayes新能源汽车售后服务中心
              </h1>
              <a href="http：用户登录" class="btn section-btn smoothScroll">登录 &amp; 注册</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">

            <div class="home-video">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="home-video__img">
                  <video id="video" style="width:100%; height:100%; object-fit:cover; position:absolute; top:0; left:0; " autoplay loop muted>
                    <source src="../static/背景.jpg" type="video/mp4">
                  </video>
                  <img src="../static/散兵.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="blog" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-title">
              <h2>介 · 绍
              </h2>
              <span class="line-bar">...</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <!-- BLOG THUMB -->
            <div class="media blog-thumb">
              <div class="media-object media-left">
                <a href="blog-detail.html"><img src="../static/散兵.jpg" alt="" class="img-responsive"/></a>
              </div>
              <div class="media-body blog-info">
                <h3>
                  <a href="blog-detail.html">功能多样的售后服务系统.</a>
                </h3>
                <p>集成多种售后服务，帮助您愉快使用我们的产品
                </p>
                <a href="http：用户登录" class="btn section-btn">快速登录</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">

            <div class="media blog-thumb">
              <div class="media-object media-left">
                <a href="blog-detail.html"></a>
                <img src="../static/散兵.jpg" alt="" class="img-responsive"/>
              </div>
              <div class="media-body blog-info">
                <h3>
                  <a href="blog-detail.html">bayes新能源汽车指定维修网站</a>
                </h3>
                <p>bayes品牌汽车指定维修网站
                </p>
                <a href="https://buaa.edu.cn/" class="btn section-btn">官方网站</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <!-- BLOG THUMB -->
          </div>
        </div>
      </div>
    </section>
    <!-- WORK -->
    <section id="work" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-title">
              <h2>功 · 能
              </h2>
              <span class="line-bar">...</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- WORK THUMB -->
            <div class="work-thumb">
              <a href="../static/散兵.jpg" class="image-popup"><img src="../static/散兵.jpg" alt="Work" class="img-responsive"/><div class="work-info">
                <h3>快速跳转
                </h3>
                <small>首页与集成，快速找到功能</small>
                </div></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- WORK THUMB -->
            <div class="work-thumb">

              <a href="../static/散兵.jpg" class="image-popup"><img src="../static/散兵.jpg" alt="Work" class="img-responsive"/><div class="work-info">
                <h3>充电规划
                </h3>
                <small>实时规划充电</small>
                </div></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- WORK THUMB -->
            <div class="work-thumb">
              <a href="../static/散兵.jpg" class="image-popup"><img src="../static/散兵.jpg" alt="Work" class="img-responsive"/><div class="work-info">
                <h3>维修历史查看
                </h3>
                </div></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- WORK THUMB -->
            <div class="work-thumb">
              <a href="../static/散兵.jpg" class="image-popup"><img src="../static/散兵.jpg" alt="Work" class="img-responsive"/><div class="work-info">
                <h3>智能客服
                </h3>
                </div></a>
            </div>
          </div>
        </div>
      </div>
    <script src="../static/hompage_1.js"></script>
    <script src="../static/hompage_2.js"></script>
    <script src="../static/hompage_3.js"></script>
    <script src="../static/hompage_4.js"></script>
    <script src="../static/hompage_5.js"></script>
    <script src="../static/hompage_6.js"></script>
  </div>
</body>