<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Lapus"/>
  <title>bayes新能源汽车售后服务中心</title>
  <link rel="stylesheet" href="../static/style1.css"/>
  <link rel="stylesheet" href="../static/style2.css"/>

</head>
<body>

  <div class="content-wrapper">

    <header class="wrapper bg-soft-primary">

      <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="https://wjj_首页" class="nav-link">首页</a>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" data-bs-toggle="dropdown" class="nav-link">充电服务</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu dropend">
                      <a href="#" data-bs-toggle="dropdown" class="dropdown-item">充电服务</a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a href="https://wjj_充电桩查看" class="dropdown-item">充电桩查看</a>
                        </li>
                        <li class="nav-item">
                          <a href="https://wjj_排队情况" class="dropdown-item">排队情况</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-submenu dropend">
                      <a href="https://wjj_充电规划/" data-bs-toggle="dropdown" class="dropdown-item">充电规划</a>
                    </li>
                    <li class="nav-item">
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" data-bs-toggle="dropdown" class="nav-link">维修&amp;保养</a>
                  <div class="dropdown-menu dropdown-lg">
                    <div class="dropdown-lg-content">
                      <div>
                        <ul class="list-unstyled">
                          <li>
                            <a href="https://wjj_维修预约" class="dropdown-item">维修预约</a>
                          </li>
                          <li>
                            <a href="https://wjj_历史订单" class="dropdown-item">历史订单</a>
                          </li>
                        </ul>
                      </div>
                      <!-- /.column -->
                      <div>
                        <ul class="list-unstyled">
                          <li>
                            <a href="https://wjj_保养规划" class="dropdown-item">保养规划</a>
                          </li>
                          <li>
                            <a href="https://wjj_紧急呼救" class="dropdown-item">紧急呼救</a>
                          </li>
                        </ul>
                      </div>
                      <!-- /.column -->
                    </div>
                    <!-- /auto-column -->
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" data-bs-toggle="dropdown" class="nav-link">帮助手册</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a href="http://127.0.0.1:8000/login_users/" class="dropdown-item">帮助手册</a>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item dropdown language-select text-uppercase">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">中文</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="#" class="dropdown-item">英文,正在开发</a>
                  </li>
                  <li class="nav-item">
                  </li>
                  <li class="nav-item">
                  </li>
                </ul>
              </li>
              <li class="nav-item d-none d-md-block">
                <a href="https://wjj_客服" class="btn btn-sm btn-white rounded-pill">在线客服</a>
              </li>
              <li class="nav-item d-lg-none">
                <button class="hamburger offcanvas-nav-btn"><span></span></button>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->

    <section data-image-src="../static/散兵.jpg" class="wrapper image-wrapper bg-image bg-overlay text-white">
      <video id="video" style="width:100%; height:100%; object-fit:cover; position:absolute; top:0; left:0; " autoplay loop muted>
            <source src="../static/星空背景.mp4" type="video/mp4">
      </video>
      <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="post-header">
              <!-- /.post-category -->
              <h1 class="display-1 mb-3 text-white">Bayes新能源汽车售后服务中心
              </h1>
              <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18">- 祝你拥有美好的一天 -
              </p>
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light wrapper-border">
      <div class="container pt-14 pt-md-16 pb-13 pb-md-15">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <article>
              <h2 class="display-6 mb-4">我们能为您提供以下服务
              </h2>
              <div class="row gx-0">
                <div class="col-md-9 text-justify">
                  <p>     Bayes新能源汽车售后服务中心旨在为购买了Bayes新能源汽车的顾客提供优质良好的服务，为了能够更好地服务各位朋友，请阅读以下索引，按需寻找帮助。
                  </p>
                  <p id="ii1ce7">-----------------------------------------------------------------------------------------------------------------------------------------------------
                    <br/>
                    <b>
                      <i>@充电服务
                      </i>
                    </b>
                    <br/>
                    <span id="i69u2t" class="c35159">· </span>充电服务：
                    <br/>           -- 
                    <b>充电桩查看
                    </b>：查询充电桩的位置信息。
                    <br/>           -- 
                    <b>排队情况
                    </b>：实时查询充电点的排队情况，您也可以在此预约排队。
                    <br/>
                    <span id="iiioj2" class="c35276">· </span>充电规划：
                    <br/>           -- 
                    <b>充电规划
                    </b>：根据您的剩余电量与地理位置生成您的推荐充电点与充电时间，帮助您规划出行。
                    <br/>
                    <b>
                      <i>@维修&amp;保养
                      </i>
                    </b>
                    <br/>
                    <b>·
                    </b>维修：
                    <br id="ijzrnd" draggable="true"/>           --
                    <b>维修预约
                    </b>：为您提供Bayes新能源汽车的维修服务，请提前6小时线上预约或前往线下门店。
                    <br/>           --
                    <b>历史订单
                    </b>：查询您的历史维修记录和保养记录，为您记录。
                    <br/>
                    <b>·
                    </b>保养：
                    <br/>           --
                    <b>保养规划
                    </b>：根据您的历史维修记录为您推荐的智能汽车保养规划。
                    <br/>
                    <b>·
                    </b>紧急呼救：
                    <br/>           --
                    <b>紧急呼救：
                    </b>帮助您在紧急情况下（例如：汽车抛锚、电池耗尽等）为您提供免费的拖车服务。
                    <br/>
                    <b>
                      <i>@在线客服
                      </i>
                    </b>
                    <br/>    智能客服全年24小时在线服务，您也可以在工作日（8:00-19:00）转接人工客服。
                  </p>
                </div>
                <!--/column -->
                <div class="col-md-2 ms-auto">
                  <ul class="list-unstyled">
                    <li>
                      <h5 class="mb-1">
                        <h5 id="ieeucl-2" draggable="false" class="mb-1 gjs-selected">Bayes汽车社交圈
                        </h5>
                      </h5>
                      <p>我们为各位朋友提供的Bayes新能源汽车的官方交流平台
                      </p>
                    </li>
                    <li>
                      <h5 class="mb-1">Bayes新能源汽车官网
                      </h5>
                      <p>Bayes新能源汽车官网，您可在此查询我们最新的产品信息与订购产品。
                      </p>
                    </li>
                  </ul>
                  <a href="https://buaa.edu.cn/">前往官网</a>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </article>
            <!-- /.project -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <div class="container-fluid px-md-6">
        <div data-margin="30" data-nav="true" data-dots="true" data-items-xxl="3" data-items-md="2" data-items-xs="1" class="swiper-container blog grid-view mb-17 mb-md-19">
          <div class="swiper">
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <p class="mb-4">页面内容来源网络仅用于作业
            </p>

            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">联系我们
            </h4>
            <address class="pe-xl-15 pe-xxl-17">北京·北航·1-212
            </address>Email：BUAA@edu.cn
            <br/>Tel：137xxxxxxxx
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">了解更多
            </h4>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="https://docs.djangoproject.com/zh-hans/4.2/">官方文档</a>
              </li>
              <li>
                <a href="#">项目ppt</a>
              </li>
              <li>
              </li>
              <li>
              </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-12 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">团队贡献
            </h4>
            <p class="mb-5">前端设计：吴佳俊、徐静文、王晓情
              <br/>后端设计：赵雨晨、张海鹏
            </p>
            <!-- /.newsletter-wrapper -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <script src="../static/style1.js"></script>
  <script src="../static/style2.js"></script>
</body>